<h1>Reservation Details</h1>

<p>
  <strong>User:</strong>
  <%= @reservation.user.first_name %> <%= @reservation.user.last_name %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @reservation.camera.name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @reservation.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @reservation.end_date %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @reservation.total_price %>
</p>

<%= link_to 'Back to Cameras', cameras_path %>
