<div class="container mt-5">
  <h1>All our Cameras</h1>
  <p>All <%= @cameras.size %> cameras</p>
  <div class="row">
    <div class="col-md-8">
      <div class="row gy-4">
        <% @cameras.each do |camera| %>

          <div class="col-md-4">
            <%= link_to camera_path(camera), class:"text-decoration-none" do %>
              <%= render "shared/card_camera", camera: camera %>

              <% if current_user == camera.user %>
                <%= link_to 'Edit', edit_camera_path(camera) %>
                <%= link_to 'Destroy', camera_path(camera), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>

              <% end %>
            <% end %>
          </div>

        <% end %>

      </div>
    </div>
    <div class="col-md-4">
      <div
        data-controller="map" class="vh-100 position-sticky top-0"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
